---
import Poll from "./Poll";
import Results from "./Results";
import { db, User, eq } from "astro:db";

if (Astro.request.method == "POST") {
  const currentUser = await Astro.locals.currentUser();
  if (!currentUser) {
    return new Response("Unauthorized", { status: 401 });
  }

  try {
    const data = await Astro.request.formData();
    let rawMonths = data.getAll("months")!;
    let months: Array<number> = rawMonths.map((m) => Number(m));
    console.log(months, typeof months);

    let users = await db.select().from(User).where(eq(User.id, currentUser.id));
    let user = users[0];
    if (!user) {
      await db.insert(User).values({
        id: currentUser.id,
        username: currentUser.username!,
        months,
      });
    } else {
      await db.update(User).set({ months }).where(eq(User.id, currentUser.id));
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<div class="container mx-auto mt-4">
  <Poll client:load />
  <Results />
</div>
