---
import { clerkClient } from "@clerk/astro/server";
import Poll from "./Poll";
import Results from "./Results";

if (Astro.request.method == "POST") {
  const user = await Astro.locals.currentUser();
  try {
    const data = await Astro.request.formData();
    console.log(data);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<div class="container mx-auto mt-4">
  <Poll client:load />
  <Results />
</div>
